$primary-color: white;
$globalBackGroundColour: #F4F3ED;
$secondTypeBlockColor: white;
$mainFont: 'MinervaModern', serif; 
$secondFont: 'Aeonik', sans-serif;;
$widthTablet: 879px;
$widthMobile: 581px;   
$burgerButtonColor: black;
$fontSizeMain: 22.5px;
$fontSizeTitle: 42px;